*{
    margin:0;
    padding:0;
    list-style: none;
   box-sizing: border-box;
//    width: 100%;

}
body{
   
    
    header{
        
        background-color: rgba(214, 172, 172, 0.897);
        height: 80px;
        .logo{
               width: 35%;
              height: 80px;
                margin: 0;
                // transform: translate(20px,20px);
                float: left;
                @keyframes ani1 {
                    
                    3%{
                        transform: rotate(10deg);
                    }
                    10%{
                        transform: skew(20deg);
                        // transform: skew(10deg,10deg);
                    }
                    10%{
                       
                        transform: transolate(5px, 5px)
                    }
                    5%{
                        transform: skew(20px);
                    }
                    5%{
                        transform: rotate(10deg);
                    }
                }
               
               animation: ani1 3s ease-in-out .5s   infinite alternate-reverse;
             }
       
        nav{  
                // float: right;
                width: 65%;
                display: flex;
                justify-content:space-around;
                align-items:center;
                // align-content: space-between;
                flex: row wrap;
                height:80px;
                font-size:26px;
                a{

                    
                    text-decoration: none;
                color:rgb(59, 8, 179);
                &:hover{
                    color:white;
                }
                
                }
            
           }
       }
       
    }
